toevoegen
<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group row">
    <div class="col-sm-6">
      <label id="lblVoornaam" for="txtVoornaam" class="col-form-label">
        Voornaam
      </label>
      <input type="text" class="form-control" id="txtVoornaam" formControlName="voornaam">
    </div>
    <div class="col-sm-6">
      <label id="lblAchternaam" for="txtAchternaam" class="col-form-label">
        Achternaam
      </label>
      <input type="text" class="form-control" id="txtAchternaam" formControlName="achternaam">
    </div>
  </div>
  <div class="form-group row">
    <button type="submit" id="btnSubmit" class="btn btn-secondary btn-block col-4">
      Toevoegen
      <span class="fa fa-angle-right ml-1"></span>
    </button>
  </div>
</form>

Toegevoegde spelers:
<div *ngFor="let speler of getSpelers()">
  {{speler.voornaam}} {{speler.achternaam}}
</div>
